/* #type ._2iA8p44d0WZ-WqRBGcAuEV{
    border: none;
    padding: 0;
} */
#raise{
    margin-top: 100px;
    margin-bottom: 50px;
}
.searchBox::placeholder{
    color: #9e9e9e;
    font-size: 1rem;
}

#type .searchBox{
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
}

#subject .searchBox {
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
}

.multiselect-container .search-wrapper{
    border: none;
    padding: 0;
}

.multiselect-container .search-wrapper .chip{
    background: #0096fb;
}