<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='./css/bootstrap-4.5.2-dist/css/bootstrap.min.css'>
    <script src='./css/bootstrap-4.5.2-dist/js/bootstrap.min.js'></script> -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="main-bg">

        <div class="login-container text-c animated flipInX">
                <div>
                    <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                </div>
                    <h3 class="text-whitesmoke">Sign In as <%= type %></h3>
                <div class="container-content">
                    <form class="margin-t" action="/login/<%= type %>" method="POST" id="myForm">
                        <div class="form-group">
                            <input name="uname" type="text" id="uname" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
                        </div>
                        <% if(message) { %>
                            <b><%= message %></b>
                        <% } %>
                        <div class="row">
                            <button type="button" class="cancelbtn btn btn-secondary form-button button-l margin-b" onclick="resetForm()">Reset Form</button>
                            <button type="submit" class="btn btn-primary form-button button-l margin-b">Login</button>
                        </div>
        
                        <p class="text-whitesmoke text-center"><small>Do not have an account?</small></p>
                        <a class="text-darkyellow" href="/register/<%= type %>">Sign Up</a>
                        <br>
                        <% if(type != 'student') { %>
                            <a href="/login/student" class="text-darkyellow">Login as Student</a>
                        <% } %>
                        <% if(type != 'tutor') { %>
                            <a href="/login/tutor" class="text-darkyellow">Login as Tutor</a>
                        <% } %>
                    </form>
                    <p class="margin-t text-whitesmoke"><small> Your Name &copy; 2020</small> </p>
                </div>
            </div>

    <script>
        function resetForm() {
          document.getElementById("myForm").reset();
        }
    </script>

</body>
</html>