#questioncard{
    padding: 24px;
    border-radius: 0 0 2px 2px;
    margin-right: 425px;
}

.card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    margin-top: 80px;}

#id{
    font-size: 11px;
    padding: 0px 10px;
    margin-left: 1000px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 100px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.pink.lighten-1 {
    background-color: #29ca8e !important;
}